<div class="">
  <h3 Listing>| Iron News |</h3>
</div>
<hr>

<ul class="list-group">
  <%- @stories.each_with_index do |story, index| %>
    <li class="list-group-item">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="<%= story.image_url %>" height="72" width="72">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><small><%= index + 1 %></small>.  <%= link_to story.title, story.link %></h4>
          <%= story.email %>
          <ul>
            <li>| posted on: <small><%= story.created_at %></small> |</li>
          </ul>
          <div class="pull-right">
            <%= link_to story do %>
              <button type="button" class="btn-group btn-default btn-xs">View <span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
            <% end %>
            <% if logged_in? %>
              <%= link_to edit_story_path(story) do %>
                <button type="button" class="btn-group btn-default btn-xs">Edit</button>
              <% end %>
            <% end %>
            <% if logged_in? %>
              <%= link_to story, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <button type="button" class="btn-group btn-default btn-xs">Delete <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
